{% extends 'MegacodersPageBundle:Module:base.html.twig' %}

{% block css_class %}module-wrapper_news{% endblock %}

{% block content %}
    <div class="media">
        {% if object.image %}
            <div class="media-left">
                <img src="{{ web_image(object.image).zoomCrop(500, 500) }}" class="media-object"/>
            </div>
        {% endif %}

        <div class="media-body">
            <h2 class="media-heading">{{ object.title }}</h2>

            {% if object.announce|trim %}
                {{ object.announce|raw }}
                <hr>
            {% endif %}

            {{ object.content|raw }}
        </div>
    </div>
{% endblock %}
