{% extends 'MegacodersPageBundle:Module:base.html.twig' %}

{% block css_class %}module-wrapper_news{% endblock %}

{% block content %}
    <ul class="list-unstyled">
        {% for object in list %}
            {{ block('element') }}
        {% endfor %}
    </ul>

    {{ block('pagination') }}
{% endblock %}

{% block element %}
    {% set url = module.generateDetailsUrl(object) %}

    <li>
        <div class="media">
            <div class="media-left media-middle">
                {% if url %}<a href="{{ url }}">{% endif %}
                <img src="{{ web_image(object.image).zoomCrop(120, 120) }}" class="media-object"/>
                {% if url %}</a>{% endif %}
            </div>
            <div class="media-body">
                {% if url %}<a href="{{ url }}">{% endif %}
                <h4 class="media-heading">{{ object.title }}</h4>
                {% if url %}</a>{% endif %}

                {% if object.announce|trim %}
                    {{ object.announce|raw }}
                {% endif %}
            </div>
        </div>
    </li>
{% endblock %}

{% block pagination %}
    {% if pagination is defined and pagination and pagination|length > 1 %}
        <ul class="pagination">
            {% for p in pagination %}
                {% set url = module.generateListUrl({page: p.number}) %}

                <li class="page-item{% if p.active %} active{% endif %}">
                    {% if p.active or not url %}
                        <span class="page-link">{{ p.number }}</span>
                    {% else %}
                        <a class="page-link" href="{{ url }}">{{ p.number }}</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
